@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-rgb: 214, 219, 220;
    --foreground-rgb: 0, 0, 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.map-container {
    flex-grow: 1;
    overflow: hidden;
}